# У TopTal есть генератор .gitignore, для разных ОС & IDE – чтобы не прописывать руками:
# https://www.toptal.com/developers/gitignore

__pycache__
venv
.venv
*.env
*.log
/.vscode
/.VSCodeCounter
database_copy.*
*.pkl
/.lprof
*.dat
/dump
model.py
/dev_tools
dump.zip
