# У TopTal есть генератор .gitignore, для разных ОС & IDE – чтобы не прописывать руками:
# https://www.toptal.com/developers/gitignore

__pycache__
venv
.venv
*.env
*.log
/.vscode
/.VSCodeCounter
/.idea
database_copy.*
*.pkl
/tmp
/.lprof
*.dat
/dump
model.py
.nicegui
/dev_tools
server_ping.py
test.py
dump.zip
