# У TopTal есть генератор .gitignore, для разных ОС & IDE – чтобы не прописывать руками:
# https://www.toptal.com/developers/gitignore

__pycache__
venv
.venv
*.env
*.log
/database/*.eldb
/.vscode
/.VSCodeCounter
/.idea
database_copy.*
*.pkl
.tmp
/.idea
/.lprof
*.dat