py-cord==2.4.1
pyyaml==6.0.1
aiohttp==3.8.5
asynciolimiter==1.0.0
python-easy-json==1.1.9
python-dotenv==1.0.0
pillow==10.0.1
elara==0.5.5
cacheout==0.14.1
pydantic==2.4.2
the_retry==0.1.1
asynciolimiter==1.0.0
pymongo==4.6.1
webcolors==1.13
pywebio==1.8.3
fastapi==0.104.1
uvicorn==0.23.2
websockets==12.0